.cards {
    width: 325px;
    margin: 6px 10px;
    /* border: 1px solid rgb(255, 66, 97); */
    border-radius: 8px;
    background: linear-gradient(to bottom, #ffdeec, #fff5f9);
}

.cardImg,.cardImgContainer {
    max-height: 200px;
    max-width: 325px;
    border-radius: 4px;
}
.cardImgContainer {
    height: 200px;
    width: 325px;
    border-radius: 4px;
}

.title {
    font-size: 20px;
}

.linkBtn1 {
    font-size: 20px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0 !important;
}

.linkBtn1:hover {
    background: rgb(255, 0, 98);
}

.linkBtn1:focus {
    background: rgb(255, 0, 98);
}

.btns-1 {
    margin-top: 4px;
    margin-bottom: 0;
}

@media screen and (max-width: 900px) {

    .title,
    .linkBtn1 {
        font-size: 18px;
    }
}
@media screen and (max-width: 689px) {

    .title,
    .linkBtn1 {
        font-size: 18px;
    }
    .cardImgContainer {
        height: auto;
        width: auto;
        border-radius: 4px;
    }
}

@media screen and (max-width: 340px) {
    .cards {
        width: 275px;
    }

    .cardImg {
        max-width: 275px;
    }
}

@media screen and (max-width: 300px) {
    .cards {
        width: 240px;
    }

    .cardImg {
        max-width: 240px;
    }
}