.header{
    border-bottom: 1px solid rgb(255, 66, 97) !important;
    height: 300px;
}
.logoImg{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.nameByFatherName{
    font-size: 22px;
}
.skillName{
    font-size: 20px;
}
.btns{
    margin: 14px 0;
}
.linkBtns{
    text-decoration: none;
    width: 120px;
    padding: 5px;
    margin: 4px;
    border: 0;
    font-size: 1.4rem;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 900px) {
    .image{
        display: none;
    }
    .info{
        text-align: center;
    }
}
@media screen and (max-width: 300px) {
    .skillName{
        font-size: 16px;
    }
}