.header{
    border-bottom: 1px solid rgb(255, 66, 97) !important;
    height: 300px;
}
.logoImg{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.nameByFatherName{
    font-size: 22px !important;
}
.skillName{
    font-size: 20px;
}
.btns{
    margin: 4px auto;
    margin-left: 0;
}
.linkBtns{
    text-decoration: none;
    padding: 6px 10px;
    margin: 8px;
    border: 0;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}
.linkBtns:hover {
    background: rgb(255, 0, 98);
}
.linkBtns:focus {
    background: rgb(255, 0, 98);
}
@media screen and (max-width: 900px) {
    .header{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100%;
    }
    .image{
        margin: 10px;
    }
    .image, .logoImg{
        height: 140px !important;
        width: 140px !important;
    }
    .info{
        text-align: center;
    }
    .desc{
        margin: auto;
    }
    .btns{
        margin-left: auto;
    }
}
@media screen and (max-width: 300px) {
    .skillName{
        font-size: 16px;
    }
}