nav {
    z-index: 1;
}

.NavFooter {
    background: rgb(255, 195, 220);
    min-height: 60px;
    padding: 10px 0;
}

.name {
    font-size: 30px;
    font-weight: 500;
    margin: 0 8px;
}

.links,
.nameLink {
    text-decoration: none;
    margin: 0 8px;
    font-weight: 500;
    color: #ff0080;
    font-size: 17px;
    margin: 4px 6px;
}

.links:hover {
    border-bottom: 1px solid #ff0080;
}

.links:focus {
    color: rgb(255, 0, 179);
}

.displayItemsSmScreenNav {
    display: none !important;
}
.displayItemsSmScreen {
    display: none !important;
}

.displayItemsBigScreen {
    display: flex !important;
}

@media screen and (max-width: 1024px) {
    .displayItemsSmScreen {
        display: flex !important;
    }

    .displayItemsBigScreen {
        display: none !important;
    }

    .name {
        font-size: 25px;
    }
}

@media screen and (max-width: 300px) {
    .nameDisplayNone {
        display: none;
    }
}